.swiper {
  width: 58vw;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide-custom {
}
.swiper-pagination-bullet-active {
  background-color: #718096;
}

.swiper-pagination-bullet {
  background-color: #fafafa;
}

.swiper-button-prev,
.swiper-button-next {
  /* background: none; */
  margin-right: 1rem;
  margin-left: 1rem;
  color: #000 !important;
  background-color: #ffffff !important;
  padding: 2rem;
  border-radius: 100%;
  /*   
  color:  !important;
  fill: black !important;
  stroke: black !important;
 */
  transform: scale(0.8); /* Ajuste o valor para mudar o tamanho */
}
