@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: black) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.triangle-bottom {
  width: 0px;
  height: 0px;
  border-top: 20vw solid transparent;
  border-right: 20vw solid #101312; /* Cor azul */
}

.triangle-top {
  width: 0px;
  height: 0px;
  border-bottom: 20vw solid transparent;
  border-left: 20vw solid #101312; /* Cor azul */
}

.banner-size {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) and (max-width: 900px) {
  .banner-size {
    margin-top: 2rem;
    margin-left: 2rem;
  }
}

.line-height {
}

@media (max-width: 455px) {
  .line-height {
    height: 12vh;
  }
}

/* Para navegadores WebKit (Chrome, Safari) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important; /* Pode variar de acordo com o seu design */
}

/* Para outros navegadores (Firefox, Edge) */
input:-moz-placeholder {
  color: transparent;
}

input:-ms-input-placeholder {
  color: transparent;
}
